<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.posoccer.app"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- PoSoccer manifest. Same skeleton as Unity's built-in AndroidManifest, with
         the package name and label fixed so the APK installs as "PoSoccer" rather
         than the Unity default "com.DefaultCompany.PoSoccer". Portrait is locked in
         ProjectSettings/ProjectSettings.asset (defaultScreenOrientation = 0), so no
         android:screenOrientation override is needed. permissions below match the
         project's actual use: INPUT only for any future single-touch / accelerometer
         hooks, no networking (PurePursuit + heuristic match is offline). -->

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="34" />

    <application
        android:label="PoSoccer"
        android:icon="@mipmap/app_icon"
        android:isGame="true"
        android:allowBackup="false"
        android:fullBackupContent="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        tools:replace="android:label,android:icon">

        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:theme="@style/UnityThemeSelector"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>
